<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  {%- seo -%}
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/resume/Resume_Asif_Arefin_Bonny.pdf">Resume</a> |
    <a href="/blog">Blog</a>
  </nav>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
</body>
</html> 